#titulo {
    color: tomato;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
}

.botao_div {
    display: flex;
    justify-content: center;
}

#botao_div {

    font-family: cursive;
    font-size: 80px;
    background-color: coral;
    border-radius: 10px;
    color: darkred;
    width: 400px;


}

#botao_div:hover {
    background-color: rgb(221, 106, 11);
    animation: tremer .2s;
}

@keyframes tremer {
    0% {
        margin-left: 0
    }

    ;

    25% {
        margin-left: 7px;
    }

    ;

    50% {
        margin-left: 0;
    }

    ;

    75% {
        margin-left: -7px;
    }

    ;

    100% {
        margin-left: 0
    }

    ;
}